$base-color: #2f2f2f;

$base-font-color: #ffffff;
$base-menu-background: #320632;

$button-color-svg: #acacac;

$base-color-1: #8C1FBB;
$base-color-2: #743091;
$base-color-3: #A000E6;
$base-color-4: #36283C;
$base-color-5: #302B33;